step-functions/persistence-task-timeout-terminal-failure.json
{
  "Comment": "Lesson 33 illustrative ASL only. Placeholder Lambda ARN values must be replaced before any deployment.",
  "StartAt": "PersistTradeResult",
  "States": {
    "PersistTradeResult": {
      "Type": "Task",
      "Comment": "Invoke the persistence Lambda. The Lambda writes S3 artifacts and DynamoDB status records; Step Functions does not call S3 or DynamoDB directly in this tutorial workflow.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 30,
      "Parameters": {
        "FunctionName": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${PERSISTENCE_FUNCTION_NAME}:${PERSISTENCE_FUNCTION_ALIAS}",
        "Payload.$": "$"
      },
      "ResultPath": "$.persistence_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.persistence_error",
          "Next": "RouteToManualReconciliation"
        }
      ],
      "Next": "PersistenceSucceeded"
    },
    "PersistenceSucceeded": {
      "Type": "Succeed"
    },
    "RouteToManualReconciliation": {
      "Type": "Pass",
      "Comment": "Tutorial placeholder. In a deployed workflow this would route to an explicit reconciliation or human-review path before terminal failure.",
      "Result": {
        "reconciliation_required": true,
        "reason": "Persistence task failed after bounded retry. S3 may have succeeded before DynamoDB failed. Do not hide this as success."
      },
      "ResultPath": "$.reconciliation",
      "Next": "PersistenceFailed"
    },
    "PersistenceFailed": {
      "Type": "Fail",
      "Error": "PersistenceWorkflowFailed",
      "Cause": "Persistence task failed after retries and was routed to reconciliation before terminal failure."
    }
  }
}
