step-functions/trade-validation-with-retry-catch.asl.json
{
    "Comment": "Lesson 18 trade validation workflow with Retry and Catch",
    "StartAt": "ReceiveTrade",
    "States": {
        "ReceiveTrade": {
            "Type": "Pass",
            "Next": "ValidateTrade"
        },
        "ValidateTrade": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-2:123456789012:function:validate-trade",
            "ResultPath": "$.validation",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.task_error",
                    "Next": "ValidationTaskFailed"
                }
            ],
            "Next": "IsTradeValid"
        },
        "IsTradeValid": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.validation.is_valid",
                    "BooleanEquals": true,
                    "Next": "AcceptedTrade"
                },
                {
                    "Variable": "$.validation.is_valid",
                    "BooleanEquals": false,
                    "Next": "RejectedTrade"
                }
            ],
            "Default": "InvalidWorkflowInput"
        },
        "AcceptedTrade": {
            "Type": "Succeed"
        },
        "RejectedTrade": {
            "Type": "Succeed"
        },
        "InvalidWorkflowInput": {
            "Type": "Fail",
            "Error": "InvalidWorkflowInput",
            "Cause": "The validation task did not return a valid validation result"
        },
        "ValidationTaskFailed": {
            "Type": "Fail",
            "Error": "ValidationTaskFailed",
            "Cause": "The ValidateTrade task failed after retry handling"
        }
    }
}